<a href="https://colab.research.google.com/github/kevinanglimjr/kevinanglimpython/blob/main/HW01kevinanglim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 01

### Q1. Write a program to input your age and print whether you are more than or less than a billion seconds old.

Enter your age in years: 22
You are less than a billion seconds old.

In [2]:
## Enter answer here.

age_in_years = int(input("Enter your age in years: "))

seconds_in_a_year = 365.25 * 24 * 60 * 60  # Account for leap years

age_in_seconds = age_in_years * seconds_in_a_year

if age_in_seconds > 1000000000:
    print("You are more than a billion seconds old.")
else:
    print("You are less than a billion seconds old.")

Enter your age in years: 22
You are less than a billion seconds old.

### Q2. Create a list with 10 names. Print each name with a Good morning greeting with the name using a conditional loop.

For example

`name = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']`

Outputs will be 'Good morning, Ashley', 'Good morning, Brianna', and so on.

In [3]:
## Enter answer here.


name = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']

for i in range(len(name)):
  print(f"Good morning, {name[i]}")

Good morning, Ashley
Good morning, Brianna
Good morning, Chetan
Good morning, David
Good morning, Eoin
Good morning, Francois
Good morning, Gemma
Good morning, Hameed
Good morning, Ishaan
Good morning, Joanna

### Q3. Create a list of 15 numbers. Print only those numbers that are divisible by 2.

In [9]:
numbers = list(range(1, 16))  # You can replace this with any 15 numbers

# Print numbers divisible by 2
for number in numbers:
  if number % 2 == 0:
    print(number)

2
4
6
8
10
12
14

### Q4. Print the squared numbers of a list containing at least 10 numbers with a mix of float, integer, and negative numbers. Use the longer method as well as list comprehension.

You can either generate your own list of 10 numbers or find use a random number generator.

In [10]:
import random

# Generate a list of 10 random numbers (mix of float, int, and negative)
numbers = [random.uniform(-10, 10) for _ in range(10)]

# Longer method
squared_numbers_long = []
for number in numbers:
  squared_numbers_long.append(number**2)

print("Squared numbers (longer method):", squared_numbers_long)

# List comprehension
squared_numbers_comprehension = [number**2 for number in numbers]

print("Squared numbers (list comprehension):", squared_numbers_comprehension)

Squared numbers (longer method): [1.8336904759934545, 40.99052031604626, 52.979872095049565, 41.19090164580825, 27.1440123323377, 91.69997251103307, 17.325923877491128, 41.62005372291309, 77.7397258922586, 5.961451153889374]
Squared numbers (list comprehension): [1.8336904759934545, 40.99052031604626, 52.979872095049565, 41.19090164580825, 27.1440123323377, 91.69997251103307, 17.325923877491128, 41.62005372291309, 77.7397258922586, 5.961451153889374]

### Q5. Write a program to print a year if it is a leap year.

In [12]:
year = int(input())

if year%4 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2025
2025 is not a leap year

### Q6. Use list comprensions to print all names in a list in upper case.

> Add blockquote

In [13]:

names = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']
upper_case_names = [name.upper() for name in names]
upper_case_names

['ASHLEY',
 'BRIANNA',
 'CHETAN',
 'DAVID',
 'EOIN',
 'FRANCOIS',
 'GEMMA',
 'HAMEED',
 'ISHAAN',
 'JOANNA']

### Q7. Question on NUMPY arrays:

a. Create a numpy array called `original` with 100 random numbers. What is the largest number, smallest number, max, min, median, and standard deviation of your array? Print them.

HINT: use `np.random.uniform()`. Check online for the correct syntax. `np.random.rand(100)` will give you 100 random numbers of uniform distribution with mean 0 and standard deviation of 1, while we want a mix of larger numbers/integers.

b. Now create an array called `orig_sqrt` which contains the square roots of the numbers in the original array.

### Q8.  Converting 1D arrays into 2D arrays.

a. Convert your original array of 100 random numbers into a 2-dimensional array called `mat_array` with 20 rows and 5 columns. Print this array.

b. What is the mean of every column in `mat_array`?

c. What is the sum of every row? Create a list of 20 elements that contains the sum of every row in `mat_array`.

d. Create the transpose of `mat_array` and call it `transpose_array`. What are the dimensions of this array now? Again, find the mean of each column and the sum of each row.

### Q9. Array slicing:

a. create a new array which contains the 3rd-10th rows and all columns of `mat_array`. Print.

b. Print a new array which contains the the last 5 rows and the last 2 columns of `mat_array`. What is the dimension of this array?

c. Print a new array which contains the first 3 rows and last 10 columns of `transpose_array`.

In [ ]:
# Write your answer here. Feel free to break your answer into different blocks of code rather than using just this one cell. Label your answer neatly.
import numpy as np

In [15]:
# prompt: Q7.
import numpy as np # Add this line to import numpy

# a. Create a numpy array called original with 100 random numbers.
original = np.random.uniform(low=-100, high=100, size=100)

# Calculate statistics
largest_number = np.max(original)
smallest_number = np.min(original)
max_value = np.max(original)
min_value = np.min(original)
median_value = np.median(original)
std_dev = np.std(original)

# Print the results
print("Largest Number:", largest_number)
print("Smallest Number:", smallest_number)
print("Max:", max_value)
print("Min:", min_value)
print("Median:", median_value)
print("Standard Deviation:", std_dev)

# b. Create an array called orig_sqrt
orig_sqrt = np.sqrt(original)

Largest Number: 99.560297122273
Smallest Number: -99.60189608643282
Max: 99.560297122273
Min: -99.60189608643282
Median: -4.372627867089513
Standard Deviation: 58.803013882941684

<ipython-input-15-833f3c2b2816>:24: RuntimeWarning: invalid value encountered in sqrt
  orig_sqrt = np.sqrt(original)

In [16]:
# prompt: Q8.

# a. Convert the original array into a 2D array (20 rows, 5 columns)
mat_array = original.reshape(20, 5)
print("mat_array:\n", mat_array)

# b. Mean of every column in mat_array
column_means = np.mean(mat_array, axis=0)
print("\nMean of each column:\n", column_means)

# c. Sum of every row and create a list
row_sums = np.sum(mat_array, axis=1)
row_sums_list = list(row_sums)
print("\nSum of each row:\n", row_sums_list)

# d. Transpose of mat_array
transpose_array = mat_array.T
print("\nDimensions of transpose_array:", transpose_array.shape)

# Mean of each column of transpose_array
column_means_transpose = np.mean(transpose_array, axis=0)
print("\nMean of each column (transpose):\n", column_means_transpose)

# Sum of each row of transpose_array
row_sums_transpose = np.sum(transpose_array, axis=1)
print("\nSum of each row (transpose):\n", row_sums_transpose)

mat_array:
 [[ 8.73087333e+01  9.95602971e+01 -5.14049168e+00  9.28883321e+01
  -9.96018961e+01]
 [-4.39537663e+01 -1.93909810e+01  2.73627135e+01 -4.33359839e+01
  -4.84851084e+01]
 [ 6.90854721e-02 -8.84610022e+01  9.10468065e+01 -5.92047352e+01
   7.79263727e-01]
 [ 4.23134520e+01  9.46752537e+01 -6.93005244e+01  9.70154253e+01
   5.37758832e+01]
 [-6.99559795e+01 -9.06265312e+01  4.27995885e+01 -8.88824842e+01
  -7.66681016e+01]
 [-1.55923741e+01 -4.10812919e+01 -1.20944161e+01  1.20936137e+01
   1.38761711e+01]
 [-8.78376377e+01 -1.61501729e+00  3.43812548e+01  9.80041969e+01
   5.16568184e+01]
 [-1.48830164e+00 -6.35703096e+01  1.99249130e+01 -7.94336289e+01
  -9.77482388e+01]
 [ 9.17600028e+00 -3.25275028e+01 -1.18155657e+01 -8.86080693e+01
   1.99833477e+01]
 [ 5.55570838e+01 -9.76532920e+01 -5.93415706e+01  9.39717370e+01
  -4.03066838e+00]
 [-5.60242649e+01 -8.60711894e+01  9.18724276e+01  3.09169496e+01
   7.41874700e+00]
 [ 4.65102435e+01  5.46408430e+01  4.27305644e+01 -2.87557493e+01
   2.31070921e+01]
 [-1.05968972e+01 -3.25568536e+01  6.96690867e+01  1.48446722e+01
  -6.68710593e+01]
 [-4.97193421e+01 -4.69324108e+01 -1.85276952e+01  7.57712667e+01
   2.43918116e+01]
 [-1.72561806e+01 -7.35115157e+01  6.31222538e+01 -2.71681088e+01
  -9.29933964e+01]
 [-7.87904699e+01  9.26673032e+01 -6.14820961e+01 -8.68359472e+01
  -4.71458736e+00]
 [ 5.73593678e+01  5.45435148e+01  3.97811878e+01  7.66521429e+00
  -6.98220821e+01]
 [ 5.87470262e+01 -2.47573425e+01  9.74102356e+01 -5.23089396e+01
  -1.90577252e+01]
 [ 7.59286825e+01 -4.94385493e+01 -1.17345400e+01  1.11287329e+01
   8.91918485e+01]
 [-1.10967033e+01  3.15666764e+01 -4.61729404e-01  6.92428815e+01
  -3.06592313e+01]]

Mean of each column:
 [ -0.46711211 -16.02699504  18.51012015   2.45046879 -16.32355558]

Sum of each row:
 [175.01497469834624, -127.80312606464034, -55.77058169799278, 218.47948984417624, -283.3335081530371, -42.79829724280914, 94.58961505465682, -222.3155659328308, -103.79178979952857, -11.496710106317849, -11.887330064232344, 138.23299377042838, -25.511051103337962, -15.016369763431442, -147.80694778708147, -139.1557974384873, 89.52720259515229, 60.03325465557661, 115.07617460088517, 58.591893998330335]

Dimensions of transpose_array: (5, 20)

Mean of each column (transpose):
 [ 35.00299494 -25.56062521 -11.15411634  43.69589797 -56.66670163
  -8.55965945  18.91792301 -44.46311319 -20.75835796  -2.29934202
  -2.37746601  27.64659875  -5.10221022  -3.00327395 -29.56138956
 -27.83115949  17.90544052  12.00665093  23.01523492  11.7183788 ]

Sum of each row (transpose):
 [  -9.34224229 -320.5399009   370.2024031    49.00937578 -326.47111163]

In [17]:
# prompt: Q9.

# a. 3rd-10th rows and all columns of mat_array
new_array_a = mat_array[2:10, :]  # Remember that indexing starts from 0
print("New array (a):\n", new_array_a)

# b. Last 5 rows and last 2 columns of mat_array
new_array_b = mat_array[-5:, -2:]
print("\nNew array (b):\n", new_array_b)
print("\nDimensions of new array (b):", new_array_b.shape)

# c. First 3 rows and last 10 columns of transpose_array
new_array_c = transpose_array[:3, -10:]
print("\nNew array (c):\n", new_array_c)

New array (a):
 [[ 6.90854721e-02 -8.84610022e+01  9.10468065e+01 -5.92047352e+01
   7.79263727e-01]
 [ 4.23134520e+01  9.46752537e+01 -6.93005244e+01  9.70154253e+01
   5.37758832e+01]
 [-6.99559795e+01 -9.06265312e+01  4.27995885e+01 -8.88824842e+01
  -7.66681016e+01]
 [-1.55923741e+01 -4.10812919e+01 -1.20944161e+01  1.20936137e+01
   1.38761711e+01]
 [-8.78376377e+01 -1.61501729e+00  3.43812548e+01  9.80041969e+01
   5.16568184e+01]
 [-1.48830164e+00 -6.35703096e+01  1.99249130e+01 -7.94336289e+01
  -9.77482388e+01]
 [ 9.17600028e+00 -3.25275028e+01 -1.18155657e+01 -8.86080693e+01
   1.99833477e+01]
 [ 5.55570838e+01 -9.76532920e+01 -5.93415706e+01  9.39717370e+01
  -4.03066838e+00]]

New array (b):
 [[-86.83594725  -4.71458736]
 [  7.66521429 -69.82208211]
 [-52.30893958 -19.05772518]
 [ 11.12873293  89.19184846]
 [ 69.24288153 -30.65923128]]

Dimensions of new array (b): (5, 2)

New array (c):
 [[-56.02426491  46.51024349 -10.59689716 -49.71934208 -17.25618064
  -78.79046993  57.35936783  58.74702624  75.92868253 -11.09670327]
 [-86.07118942  54.64084304 -32.5568536  -46.93241078 -73.51151571
   92.66730325  54.54351479 -24.75734247 -49.43854928  31.56667643]
 [ 91.87242764  42.73056443  69.66908675 -18.52769524  63.12225376
  -61.48209615  39.78118779  97.41023564 -11.73454004  -0.4617294 ]]

### Q10. Assume you are inviting 15 friends to your party. You guest list has the following dietary preference.

`diet = ['vegetarian', 'pescetarian', 'vegetarian', 'omnivore', 'pescetarian', 'keto', 'keto', 'vegan', 'omnivore', 'omnivore', 'vegan', 'omnivore', 'keto, 'vegetarian', 'vegan']`

Their ages are as follows:

`age = [21, 20, 19, 25, 27, 18, 23, 25, 19, 22, 20, 20, 23, 21, 24]`

Create a list called `menu` which will contain 'veg. fried rice with whiskey' for vegans and vegetarians aged 21 and above,  'veg. fried rice with mocktail' for vegans and vegetarians aged below 21. Follow the same logic and assign fish and white wine to pescetarians of legal age (and fish with mocktail to those below 21). Keto and omnivore guests above 21 will have 'steak and red wine'. Complete the series with the appropriate drink for underage guests.

In [18]:
# prompt: Q10.

diet = ['vegetarian', 'pescetarian', 'vegetarian', 'omnivore', 'pescetarian', 'keto', 'keto', 'vegan', 'omnivore', 'omnivore', 'vegan', 'omnivore', 'keto', 'vegetarian', 'vegan']
age = [21, 20, 19, 25, 27, 18, 23, 25, 19, 22, 20, 20, 23, 21, 24]

menu = []
for i in range(len(diet)):
  if diet[i] in ('vegetarian', 'vegan'):
    if age[i] >= 21:
      menu.append('veg. fried rice with whiskey')
    else:
      menu.append('veg. fried rice with mocktail')
  elif diet[i] == 'pescetarian':
    if age[i] >= 21:
      menu.append('fish and white wine')
    else:
      menu.append('fish with mocktail')
  elif diet[i] in ('keto', 'omnivore'):
    if age[i] >= 21:
      menu.append('steak and red wine')
    else:
      menu.append('steak and red wine') # Assuming underage keto/omnivores also get steak but no alcohol

menu

['veg. fried rice with whiskey',
 'fish with mocktail',
 'veg. fried rice with mocktail',
 'steak and red wine',
 'fish and white wine',
 'steak and red wine',
 'steak and red wine',
 'veg. fried rice with whiskey',
 'steak and red wine',
 'steak and red wine',
 'veg. fried rice with mocktail',
 'steak and red wine',
 'steak and red wine',
 'veg. fried rice with whiskey',
 'veg. fried rice with whiskey']

In [ ]:
# Write your answer here.
import numpy as np